* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(176, 26, 26, 0.785);
}

.block_header {
    max-width: 1200px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(217, 206, 206);
}

.block_container {
    background-color: rgb(176, 26, 26, 0.785);
    margin-top: 40px;
}

.block_card {
    padding: 20px;
    background-color: rgb(217, 206, 206);
}

.block_card>img {
    width: 70%;
    height: 280px;
    margin: auto;
}

.block_card>h4 {
    color: black;
}

.block_card>div {
    margin-top: 10px;
}